# 以编辑模式 ( -e ) 打开全局 Git 配置文件
#  git config --global -e

[core]
  excludesfile = $HOME/.gitignore_global
[user]
  name = xuehui
  email = xuehuizzz103@gmail.com
[commit]
  template = $HOME/.stCommitMsg
[pull]
    rebase = true
[http]
  sslVerify = true
[alias]
  unadd = restore --staged
  # 撤销最近一次提交,保留修改内容在工作区
  uncommit = reset HEAD~1
  # 把你当前所在分支的提交，推送到远程仓库的同名分支，并设置跟踪关系, 初次git done, 之后直接git push 即可
  done = !git push -u origin HEAD
  co = checkout
  ci = commit
  s = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  # 终极日志格式：一行输出 git log，带图形、时间、提交人、备注
  lg = !git --no-pager log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  # 查看最近一周自己的提交, git lg- xuehui
  lgu = "!f() { git log --all --pretty=format:'%h %cd %s (%an)' --since='7 days ago' --author=\"$1\"; }; f"
[safe]
  directory = /usr/local/Homebrew/Library/Taps/homebrew/homebrew-core
  directory = /usr/local/Homebrew/Library/Taps/homebrew/homebrew-cask
  directory = /usr/local/Homebrew
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[blame]
  coloring = highlightRecent
  date = relative
