[core]
  excludesfile = $HOME/.gitignore_global
[user]
  name = xuehui
  email = xuehuizzz103@gmail.com
[commit]
  template = $HOME/.stCommitMsg
[pull]
    rebase = true
[http]
  sslVerify = true
[alias]
  unadd = restore --staged
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  # 终极日志格式：一行输出 git log，带图形、时间、提交人、备注
  lg = !git --no-pager log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  # 查看最近一周自己的提交, git lg- xuehui
  lgu = "!f() { git log --all --pretty=format:'%h %cd %s (%an)' --since='7 days ago' --author=\"$1\"; }; f"
[safe]
  directory = /usr/local/Homebrew/Library/Taps/homebrew/homebrew-core
  directory = /usr/local/Homebrew/Library/Taps/homebrew/homebrew-cask
  directory = /usr/local/Homebrew
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[blame]
  coloring = highlightRecent
  date = relative
