[keyboard]
bindings = [
    { key = "V", mods = "Command", action = "Paste" },
    { key = "C", mods = "Command", action = "Copy" },
    { key = "N", mods = "Command", action = "SpawnNewInstance" },
    { key = "Left",  mods = "Command", chars = "\u001bOH"  },# jump word start
    { key = "Right", mods = "Command", chars =  "\u001bOF" },# jump word end
    { key = "Up",  mods = "Command", chars = "\u001bB"   },# Skip word left
    { key = "Down", mods = "Command", chars = "\u001bF"   },# Skip word right
]

[env]
TERM = "xterm-256color"
LANG = "en_US.UTF-8"

[colors]
draw_bold_text_with_bright_colors = true

# 以下是一个使用真彩色的配色方案示例
[colors.primary]
background = "#1d1f21"
foreground = "#c5c8c6"

[colors.normal]
black = "#1d1f21"
red = "#cc6666"
green = "#b5bd68"
yellow = "#f0c674"
blue = "#81a2be"
magenta = "#b294bb"
cyan = "#8abeb7"
white = "#c5c8c6"

[colors.bright]
black = "#666666"
red = "#d54e53"
green = "#b9ca4a"
yellow = "#e7c547"
blue = "#7aa6da"
magenta = "#c397d8"
cyan = "#70c0b1"
white = "#eaeaea"

[cursor]
style = { shape = "Beam", blinking = "Always" } # 设置光标为竖线且总是闪烁
unfocused_hollow = false      # 窗口失焦时光标更柔和，不会像“洞”一样空心

[selection]
save_to_clipboard = true # 选中文本自动复制

[font]
size = 12.0
normal = { family = "Maple Mono NF CN", style = "Regular" }
bold = { family = "Maple Mono NF CN", style = "Bold" }      # 粗体
italic = { family = "Maple Mono NF CN", style = "Italic" }  # 斜体

[window]
dimensions = { columns = 120, lines = 50 } # 窗口尺寸
padding = { x = 8, y = 8 }                 # 窗口内边距
dynamic_padding = true
opacity = 0.85                             # 设置透明度
title = "terminal"                         # 设置窗口标题

[general]
live_config_reload = true

[terminal]
osc52 = "CopyPaste" # 设定复制黏贴行为 默认只能复制
