# MySQL的配置文件, Linux/MacOS 系统中习惯使用 .cnf 扩展名, Windows 系统中习惯使用 .ini 扩展名

# 服务器配置
[mysqld]
# 基本设置
character-set-server=utf8mb4  # utf8mb4 支持完整的 Unicode 字符集，包括 emoji 表情符号等, 最推荐
collation-server=utf8mb4_unicode_ci  # 表示按照 Unicode 规则进行大小写不敏感的排序
default-time-zone='+8:00'  # 默认时区为东八区(北京时间)
# 错误日志
log-error=/var/log/mysql/error.log

# 慢查询日志
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log

# 普通日志
general_log=1
general_log_file=/var/log/mysql/mysql.log

# 二进制日志
log_bin = /var/log/mysql/mysql-bin.log
  
# 连接设置
max_connections=1000
max_allowed_packet=16M

# InnoDB设置
innodb_buffer_pool_size=1G
innodb_log_file_size=256M
  
port=3306
bind-address=0.0.0.0
max_connections=100

# 密码过期和重用策略
default_password_lifetime=90  # 密码90天后过期
password_history=6  # 记住最近6个使用过的密码
password_reuse_interval=180  # 180天内不能重用旧密码


[mysql]
# 专门用于 MySQL 命令行客户端工具（即 mysql 命令）的配置
# mysql -u root -p --default-character-set=utf8mb4   连接时指定字符集
default-character-set=utf8mb4
auto-rehash=true  # 自动补全  

# 设置命令行提示符格式：
# \u：当前用户名
# @：分隔符
# \h：主机名
# [\d]：当前数据库名（在方括号中）
# >：提示符
prompt='\u@\h [\d]> '   # 例如显示效果：root@localhost [mydatabase]> 


[client]
# 客户端配置
port=3306
default-character-set=utf8mb4
